<!-- begin format phone numbers -->

<% unless entry_hash["mobile"].length == 0 %>
  <% m_format = "(" + entry_hash["mobile"][0, 3] + ") " + entry_hash["mobile"][3, 3] + "-" + entry_hash["mobile"][6, 4] %>
<% else %>
  <% m_format = "" %>
<% end %>

<% h_format = "(" + entry_hash["home"][0, 3] + ") " + entry_hash["home"][3, 3] + "-" + entry_hash["home"][6, 4] %>

<% unless entry_hash["work"].length == 0 %>
  <% w_format = "(" + entry_hash["work"][0, 3] + ") " + entry_hash["work"][3, 3] + "-" + entry_hash["work"][6, 4] %>
<% else %>
  <% w_format = "" %>
<% end %>

<!-- end format phone numbers -->

<div class="col-sm-4"></div>  <!-- for centering main div -->

<div class="col-sm-4">

  <div>
    <h4>Details for <%= entry_hash["fname"] %> <%= entry_hash["lname"] %></h4>
  </div>

  <div class="padding">
    <table class="table">
      <tr>
        <td class="medium"><b>First Name: </b></td>
        <td class="wide"><%= entry_hash["fname"] %></td>
      </tr>
      <tr>
        <td class="medium"><b>Last Name: </b></td>
        <td class="wide"><%= entry_hash["lname"] %></td>
      </tr>
      <tr>
        <td class="medium"><b>Street Address: </b></td>
        <td class="wide"><%= entry_hash["addr"] %></td>
      </tr>
      <tr>
        <td class="medium"><b>City: </b></td>
        <td class="wide"><%= entry_hash["city"] %></td>
      </tr>
      <tr>
        <td class="medium"><b>State: </b></td>
        <td class="wide"><%= entry_hash["state"] %></td>
      </tr>
      <tr>
        <td class="medium"><b>Zip Code: </b></td>
        <td class="wide"><%= entry_hash["zip"] %></td>
      </tr>
      <tr>
        <td class="medium"><b>Mobile: </b></td>
        <td class="wide"><%= m_format %></td>
      </tr>
      <tr>
        <td class="medium"><b>Home: </b></td>
        <td class="wide"><%= h_format %></td>
      </tr>
      <tr>
        <td class="medium"><b>Work: </b></td>
        <td class="wide"><%= w_format %></td>
      </tr>
    </table>
  </div>

  <div class="center-block">
    <div class="padding col-sm-12">
      <form  method="post" action="verify_delete">
        <input type="hidden" name="entry[id]" value="<%= entry_hash["id"] %>">
        <input type="hidden" name="entry[fname]" value="<%= entry_hash["fname"] %>">
        <input type="hidden" name="entry[lname]" value="<%= entry_hash["lname"] %>">
        <div class="text-center">
          <% fname = entry_hash["fname"] %>
          <% fname.include? " " ? furl = fname.gsub(" ", "%20") : furl = fname %>
          <% lname = entry_hash["lname"] %>
          <% lname.include? " " ? lurl = lname.gsub(" ", "%20") : lurl = lname %>
          <% url = "/get_update?fname=" + furl + "&lname=" + lurl %>
          <a href=<%= url %> class="btn btn-default" role="button">Update</a>
          <button class="btn btn-default" type="submit">Delete</button>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="col-sm-4"></div>  <!-- for centering main div -->