<div>

  <h4>Please select the desired record:</h4>

  <div class="padding">
    <!-- dynamic table to list all users in phonebook -->
    <table>
      <tr>
        <td class="results"><b>Last</b></td>
        <td class="results"><b>First</b></td>
        <td class="results"><b>Address</b></td>
        <td class="results"><b>City</b></td>
        <td class="results"><b>State</b></td>
        <td class="results"><b>Zip</b></td>
      </tr>
      <% results.each do |result| %>
      <tr>
        <% url = "/get_update?fname=" + result["fname"] + "&lname=" + result["lname"] %>
        <td class="results"><a href=<%= url %>><%= result["lname"] %></a></td>
        <td class="results"><%= result["fname"] %></td>
        <td class="results"><%= result["addr"] %></td>
        <td class="results"><%= result["city"] %></td>
        <td class="results"><%= result["state"] %></td>
        <td class="results"><%= result["zip"] %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <hr>

</div>