<div>

  <h4>Please select the desired record:</h4>

  <div class="padding">
    <!-- dynamic table to list all users in phonebook -->
    <table>
      <tr>
        <td class="results"><b>Last</b></td>
        <td class="results"><b>First</b></td>
        <td class="results"><b>Address</b></td>
        <td class="results"><b>City</b></td>
        <td class="results"><b>State</b></td>
        <td class="results"><b>Zip</b></td>
        <td class="results"><b>Mobile</b></td>
        <td class="results"><b>Home</b></td>
        <td class="results"><b>Work</b></td>
      </tr>
      <% results.each do |result| %>
      <tr>
        <% first = result["fname"] %>
        <% first.include? " " ? fname = first.gsub(" ", "%20") : fname = first %>
        <% last = result["lname"] %>
        <% last.include? " " ? lname = last.gsub(" ", "%20") : lname = last %>
        <% url = "/get_update?fname=" + fname + "&lname=" + lname %>
        <td class="results"><a href=<%= url %>><%= result["lname"] %></a></td>
        <td class="results"><%= result["fname"] %></td>
        <td class="results"><%= result["addr"] %></td>
        <td class="results"><%= result["city"] %></td>
        <td class="results"><%= result["state"] %></td>
        <td class="results"><%= result["zip"] %></td>
        <% m_format = "(" + result["mobile"][0, 3] + ") " + result["mobile"][3, 3] + "-" + result["mobile"][6, 4] %>
        <td class="results"><%= m_format %></td>
        <% h_format = "(" + result["home"][0, 3] + ") " + result["home"][3, 3] + "-" + result["home"][6, 4] %>
        <td class="results"><%= h_format %></td>
        <% w_format = "(" + result["work"][0, 3] + ") " + result["work"][3, 3] + "-" + result["work"][6, 4] %>
        <td class="results"><%= w_format %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <hr>

</div>