<div class="col-sm-4"></div>  <!-- for centering main div -->

<div class="col-sm-4">

  <!-- only populated if data validation issues -->
  <div class="feedback">
    <p><i><%= feedback %></i></p>
  </div>

  <div class="center-block">

      <form method="post" action="update_info">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">First Name</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[fname]" value="<%= entry_hash["fname"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Last Name</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[lname]" value="<%= entry_hash["lname"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Street Address</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[addr]" value="<%= entry_hash["addr"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">City</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[city]" value="<%= entry_hash["city"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">State</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[state]" value="<%= entry_hash["state"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Zip Code</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[zip]" value="<%= entry_hash["zip"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Mobile Phone</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[mobile]" value="<%= entry_hash["mobile"] %>">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Home Phone</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[home]" value="<%= entry_hash["home"] %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Work Phone</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="entry[work]" value="<%= entry_hash["work"] %>">
          </div>
        </div>
        <input type="hidden" name="entry[id]" value="<%= entry_hash["id"] %>">
        <div class="text-center">
          <button class="btn btn-default" type="submit">Update</button>
        </div>
      </form>

  </div>

  <br>
  <hr>

  <h4>To delete the entry, click <b>Delete</b>:</h4>

  <div class="center-block">
    <div class="padding col-sm-12">
      <form  method="post" action="verify_delete">
        <input type="hidden" name="entry[id]" value="<%= entry_hash["id"] %>">
        <input type="hidden" name="entry[fname]" value="<%= entry_hash["fname"] %>">
        <input type="hidden" name="entry[lname]" value="<%= entry_hash["lname"] %>">
        <div class="text-center">
          <button class="btn btn-default" type="submit">Delete</button>
        </div>
      </form>
    </div>
  </div>

<hr>

</div>

<div class="col-sm-4"></div>  <!-- for centering main div -->